@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Libre";
  src: url("../public/fonts/LibreCaslonDisplay-Regular.ttf");
}

.sticky-header {
  position: fixed;
  top: -200px; /* this value should be equal to the height of your header */
  width: 100%;
  transition: top 0.3s;
}

.sticky-header.active {
  top: 0;
}
