@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Libre";
  src: url("../public/fonts/LibreCaslonDisplay-Regular.ttf");
}

.sticky-header {
  position: fixed;
  top: -200px;
  transition: top 0.7s;
}

.sticky-header.active {
  top: 0;
}
